<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="item-block">
      <ion-avatar item-start>
          <img src="../../assets/img/{{loteria.tipoJogo.getClasse()}}.png">
      </ion-avatar>
      <ion-title item-start>
        <ion-label class="{{loteria.tipoJogo.getClasse()}}">{{loteria.tipoJogo.getModalidade()}}</ion-label>
      </ion-title>
      <div item-end>
          <ion-label item-end class="{{loteria.tipoJogo.getClasse()}}">Completo</ion-label>
          <ion-toggle item-end [(ngModel)]="expert" color="{{loteria.tipoJogo.getClasse()}}"></ion-toggle>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <loto-range [rngValor]="rngQtde[indice.rngQtde.jogo]" (metodoSet)="loteria.configjogo.setQtdeJogos($event)"></loto-range>
  <loto-range [rngValor]="rngQtde[indice.rngQtde.numero]" (metodoSet)="loteria.configjogo.setQtdeNumeros($event)"></loto-range>
  <loto-chkbox [chkValor]="chk[indice.chk.repetir]" (metodoSet)="loteria.configjogo.setNoRepetirNumero($event)"></loto-chkbox>
  <loto-chkbox [chkValor]="chk[indice.chk.sequencia]" (metodoSet)="loteria.configjogo.setNoRepetirNumero($event)"></loto-chkbox>

  <ion-item>
    <ion-grid>
      <ion-row *ngFor="let linha of cartela; let i = index">
        <ion-col col-1 class="coluna" id="{{ coluna }}" *ngFor="let coluna of cartela[i]" (click)="SetNumCartela($event)">
          {{ coluna }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <div class="tabela">
      <div class="linha" *ngFor="let linha of cartela; let i = index">
        <div id=" {{ coluna }}" class="coluna" *ngFor="let coluna of cartela[i]" (click)="SetNumCartela($event)">
            {{ coluna }}
          </div>
      </div>
    </div>
  </ion-item>

  <button ion-button color="{{ loteria.tipoJogo.getClasse() }}" (click)="GetAposta()">
    Sortear números
  </button>
  <lista-jogo [jogos]="jogos"></lista-jogo>
  
</ion-content>
