<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <div class="item-block">
      <ion-avatar item-start>
          <img src="{{ page.imgOrigem }}{{loteria.tipoJogo.getClasse()}}.png">
      </ion-avatar>
      <ion-title item-start>
        <ion-label class="{{loteria.tipoJogo.getClasse()}}">{{loteria.tipoJogo.getModalidade()}}</ion-label>
      </ion-title>
    </div>
    
  </ion-navbar>
</ion-header>

<ion-content padding>
  <loto-range [rngValor]="rngQtde[indice.rngQtde.jogo]" (metodoSet)="loteria.configjogo.setQtdeJogos($event)"></loto-range>
  <loto-range [rngValor]="rngQtde[indice.rngQtde.numero]" (metodoSet)="loteria.configjogo.setQtdeNumeros($event)"></loto-range>

  <loto-chkbox [chkValor]="chk[indice.chk.repetir]" (metodoSet)="loteria.configjogo.setNoRepetirNumero($event)"></loto-chkbox>
  <loto-chkbox [chkValor]="chk[indice.chk.sequencia]" (metodoSet)="loteria.configjogo.setNoSequencia($event)"></loto-chkbox>
  
  <button ion-item (click)="listaNumeros(indice.cartela.escolhidos)" [disabled]="loteria.configjogo.noRepetirNumero">
    <loto-label lblValor="Números selecionados"></loto-label>
    <ion-icon name="grid" item-end color="disabled"></ion-icon>
  </button>
  <div>
      <loto-chip *ngFor="let numero of loteria.configjogo.escolhidos" chipValor="{{ numero }}" (metodoSet)="excluirNumero($event, indice.cartela.escolhidos)"></loto-chip>
  </div>

  <button ion-item (click)="listaNumeros(indice.cartela.excluidos)">
    <loto-label lblValor="Números excluídos"></loto-label>
    <ion-icon name="grid" item-end color="disabled"></ion-icon>
  </button>
  <div>
      <loto-chip *ngFor="let numero of loteria.configjogo.excluidos" chipValor="{{ numero }}" (metodoSet)="excluirNumero($event, indice.cartela.excluidos)"></loto-chip>
  </div>


  <button ion-button color="{{ loteria.tipoJogo.getClasse() }}" (click)="GetAposta()">
    Sortear números
  </button>
  
</ion-content>
