$lista-tipo-jogo: (
    megasena:(
        color: #209869
    ),
    lotofacil: (
        color: #930089
    )
);

@each $loteria, $tipo in $lista-tipo-jogo {
    span.#{$loteria} {
        color: map-get($tipo, color);
        font-weight: bold;   
    }
}
