$lista-tipo-jogo: (
    megasena:(
        color: #209869,
        qtdeColuna: 10
    ),
    lotofacil: (
        color: #930089,
        qtdeColuna: 10
    )
);

div {    
    //margin:2; /*Defina a separacao das colunas aqui*/
    padding:0;
    margin: 2px 2px 2px 2px;
}
.tabela{
    display: table;
    width: auto;
}
.linha{
    padding:0;
    clear:both;
    display: table-row;
}
.coluna{    
    //height:25px;
    //width:25px;  
    position: relative;    
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@each $loteria, $tipo in $lista-tipo-jogo {
    .#{$loteria} {
        color: map-get($tipo, color);
        font-weight: bold;   
    }

    .coluna-#{$loteria}{
        @extend .coluna;
        height:10%;
        width:10%;   
    }

    .cartela-escolhido-#{$loteria}{
        background-color: map-get($tipo, color);
        color: white;
    }

    .cartela-excluido-#{$loteria}{
        background-color: #dddddd;
        text-decoration:line-through;
    }

    .badge-ios-#{$loteria}{
        background-color: map-get($tipo, color);
    }
}
