$lista-tipo-jogo: (
    megasena:(
        color: #209869
    ),
    lotofacil: (
        color: #930089
    )
);

.coluna{    
    height:25px;
    width:25px;    
    float:left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@each $loteria, $tipo in $lista-tipo-jogo {
    .#{$loteria} {
        color: map-get($tipo, color);
        font-weight: bold;   
    }

    .cartela-escolhido-#{$loteria}{
        background-color: map-get($tipo, color);
        color: white;
    }

    .cartela-excluido-#{$loteria}{
        background-color: #dddddd;
        text-decoration:line-through;
    }

    .badge-ios-#{$loteria}{
        background-color: map-get($tipo, color);
    }
}
