<ion-header>
  <ion-navbar>
    <loto-label lblValor="Jogos"></loto-label>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-card *ngFor="let jogo of jogos; let i = index" (click)="selecionarJogo(i)">
    <ion-card-header class="card-header card-header-md {{ getClasseSelecionado(i) }}">
      <ion-grid>
        <ion-row>
          <ion-col col-2 *ngFor="let coluna of jogos[i]" >
            <div class="num-jogo-{{ loteria.tipoJogo.getClasse() }}">
              {{ coluna }}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>

  <button ion-button color="{{ loteria.tipoJogo.getClasse() }}" (click)="SalvarAposta()" >
    Salvar
  </button>

  <ion-fab bottom right>
    <button ion-fab mini color="{{ loteria.tipoJogo.getClasse() }}">
      <ion-icon name="md-share"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="whatsappShare()">
        <ion-icon name="logo-whatsapp"  color="{{ loteria.tipoJogo.getClasse() }}"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
