<ion-header>
  <ion-navbar>
    <loto-label lblValor="Jogos"></loto-label>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-card *ngFor="let jogo of jogos; let i = index">
    <ion-card-header  >
      <ion-grid>
        <ion-row>
          <ion-col col-1 *ngFor="let coluna of jogos[i]" >
            <div class="num-jogo-{{ loteria.tipoJogo.getClasse() }}">
              {{ coluna }}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>

</ion-content>
