<ion-item>

    <loto-label lblValor="{{rngValor.lblValor}}"></loto-label>

    <loto-badge item-end [bdgValor]="rngValor.qtde"></loto-badge>

</ion-item>
<ion-item>

    <ion-range min="{{ rngValor.qtdeMin }}" max="{{ rngValor.qtdeMax }}" 
            step="1" [(ngModel)]="rngValor.qtde" color="{{ rngValor.classe }}" 
            (ionChange)="setQtde($event)">

    <ion-label range-left class="rngValor.classe">{{ rngValor.qtdeMin }}</ion-label>
    <ion-label range-right class="rngValor.classe">{{ rngValor.qtdeMax }}</ion-label>
    
    </ion-range>
</ion-item>