<ion-item>
    <loto-label [lblValor]="rngValor.lblValor"></loto-label>
    <loto-badge item-end [bdgValor]="rngValor.qtde"></loto-badge>
</ion-item>
<ion-item>
<ion-range min="{{ rngValor.qtdeMin }}" max="{{ rngValor.qtdeMax }}" 
           step="1" [(ngModel)]="rngValor.qtde" color="{{ loteria.tipoJogo.getClasse() }}" 
           (ionChange)="setQtde()">
<ion-label range-left class="{{loteria.tipoJogo.getClasse()}}">{{ rngValor.qtdeMin }}</ion-label>
<ion-label range-right class="{{loteria.tipoJogo.getClasse()}}">{{ rngValor.qtdeMax }}</ion-label>
</ion-range>
</ion-item>